<ion-view view-title="Products">
  <ion-content>
    <button class="button button-full button-positive" ng-click="$ctrl.newProduct()">
      <i class="ion-plus-circled"></i>
      New Product
    </button>
    <ion-list>
      <div class="list" ng-repeat="product in $ctrl.products" ng-click="$ctrl.productDetail(product.id)">
        
        <div class="item item-avatar">
          <img ng-src="{{product.img}}">
          <p>{{product.name}}</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
